.btn {
width: 150px;
height: 60px;
padding: 0px;
}

.btn:hover{
padding: 0px;
border: 3px solid white;
left: -2px;
top: -2px;
}

.heading {
  text-align: left;
  color: #000000;
  font-weight: bold;
}

.body {
  text-align: left;
  color: #000000;
  font-weight: normal;
}

.logo {
  display: none;
}

.process_type {
  display: none;
}

.box_yesno {
  display: none;
}

.box_continue {
  display: inline;
  text-align: right;
}

.box_ok {
  display: none;
}
.box_tryagain {
  display: none;
}
